html {
	background-color: #ffffff;
}

body {
	color: #4e4e4e;
	font-family: 'Nunito', sans-serif;
}

nav {
	background-color: #ffffff;
	height: 140px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1;
}

.caixa-menu {
	align-items: center;
	display: inline-flex;
    height: inherit;
    justify-content: center;
	width: 100%;
}

#container-nome {
	cursor: pointer;
	display: inline-block;
	margin-top: 12px;
	position: relative;
	text-align: center;
	width: 33%;
}

#container-nome a {
	color: inherit;
	text-decoration: none;
}

.nome {
	color: black;
	font-size: 24pt;
	font-weight: 800;
	line-height: 1.5;
	text-transform: lowercase;
	transition: 400ms;
}

#container-nome:hover .nome {
	font-size: 28pt;
}

.home {
	font-weight: 500;
	opacity: 0%;
	transition: 400ms;
}

#container-nome:hover .home {
	opacity: 100%;
}

.caixa-menu ul {
	display: inline;
	vertical-align: middle;
}

.btn {
	cursor: pointer;
	display: inline-block;
	font-size: 12pt;
	font-weight: 500;
	padding: 0 36px;
	text-transform: lowercase;
	transition: 200ms;
}

.btn:hover {
	font-size: 16pt;
	font-weight: 700;
}

.ativo {
	font-size: 16pt;
	font-weight: 800;
}

main {
	margin: 0 auto;
	width: min(90%, 1400px);
}

.trab {
	margin-bottom: 3em;
	width: 60%;
}

.escondido {
	display: none;
}

.caixa-img a {
	color: inherit;
	text-decoration: none;
}

li img {
	transition: 400ms;
	width: 80%;
}

li img:hover {
	width: 100%;
}

.titulo-trabalho {
	color: white;
	font-family: 'Rubik', sans-serif;
	font-size: 60pt;
	font-weight: 800;
	margin-top: -0.66em;
	mix-blend-mode: difference;
	text-transform: uppercase;
	width: 100%;
}

.trab p {
	line-height: 1.5;
}

.trab p em {
	font-style: italic;
}

.funcao {
	color: black;
	font-weight: 700;
	text-transform: lowercase;
}

.left {
	left: 0px;
	margin-right: auto;
	text-align: left;
}

.left .titulo-trabalho {
	margin-left: 2.33em;
}

.left p {
	margin-left: 2em;
}

.right {
	margin-left: auto;
	right: 0px;
	text-align: right;
}

.right .titulo-trabalho {
	margin-left: -2.33em;
}

.right p {
	margin-right: 2em;
}

.titulo-trabalho-longo {
	margin-top: -1.66em;
}

p a {
	color: inherit;
	font-weight: 700;
	text-decoration: none;
}

p a:hover {
	text-decoration: underline;
}

iframe {
	display: flex;
	margin: 0 auto 24px;
	width: 50%;
}

@media (max-width: 900px) {

	nav {
		height: auto;
	}
	
	.caixa-menu {
		display: block;
	}

	#container-nome {
		text-align: center;
		width: 100%;
	}

	.home {
		display: none;
	}

	.btn {
		display: block;
		text-align: center;
		line-height: 2em;
	}

	.btn:last-child {
		padding-bottom: 1em;
	}

	main {
		width: 100%;
	}

	.trab {
		float: none;
		width: 100%;
	}

	.trab img {
		width: 100%;
	}

	.titulo-trabalho {
		font-size: 36pt;
	}

	.titulo-trabalho-longo {
		margin-top: -0.66em;
	}

	.left .titulo-trabalho {
		margin-left: auto;
	}

	.left p {
		margin-left: 1em;
	}

	.right .titulo-trabalho {
		margin-left: auto;
	}

	.right p {
		margin-right: 1em;
	}

	iframe {
		width: 100%;
	}
}